.number-figure {
    margin-bottom: 0;
}

h4.section-title {
    color:cornflowerblue;
}

table {
    width: 100%
}

.table-container {
    height: 250px;
    overflow-y: auto;
}

.advanced-pie-legend-wrapper{
    display: none !important;
 }

 .red-spending{
     color: red;
     margin-bottom: 0;
 }

 .green-spending{
     color: green;
     margin-bottom: 0;
 }