<div class="container" style="max-width: 700px;">
    <div class="card">
        <div class="card-header text-center">
            Đăng nhập
        </div>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div *ngIf="error" class="alert alert-danger" role="alert">
                  {{error}}
                </div>
                <div class="form-group">
                  <input type="email" 
                  class="form-control" 
                  id="exampleInputEmail1" 
                  aria-describedby="emailHelp" 
                  placeholder="Tên người dùng hoặc email" 
                  formControlName="username" class="form-control">
                </div>
                <div class="form-group">
                  <input 
                  type="password" 
                  class="form-control" 
                  id="exampleInputPassword1" 
                  placeholder="Mật khẩu" 
                  formControlName="password" class="form-control"
                  >
                </div>
                <div class="form-group">
                  <p> Chưa có tài khoản?
                    <a [routerLink]="['/register']">
                      Đăng ký
                    </a>
                  </p>
                </div>
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
              </form>
        </div>
    </div>
</div>
