<div class="bounds">
  <div class="content" fxLayout="column" fxLayoutGap="20px">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Chose month</mat-label>
        <mat-select [(value)]="monthId">
          <mat-option *ngFor="let month of monthData" [value]="month.monthId">
            {{month.dateString}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <app-service-bill-infoview [monthId]="monthId"></app-service-bill-infoview>
    </div>
    <div> 
      Item 3
    </div>
  </div>
</div>